* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Montserrat';
    font-size: 14px;
    background-size: 200% 100% !important;
    -webkit-animation: move 10s ease infinite;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    height: 100vh;
}
  
.user {
    width: 100%;
    max-width: 500px;
    margin: 10vh auto;
}
  
.user__header {
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    -webkit-animation: arrive 500ms ease-in-out 0.7s forwards;
            animation: arrive 500ms ease-in-out 0.7s forwards;
}
  
.welcome{
    font-size: 25px;
    font-family: 'Montserrat';
}
  
.subwelcome{
    font-size: 17px;
    font-family: 'Montserrat';
}
  
input[type=text], input[type=password] {
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 20px;
    font-family: 'Montserrat';
}
  
input[type=text]:focus, input[type=password]:focus {
    outline: none;
}

::placeholder{
    font-family: 'Montserrat';
}
  
.registerbtn {
    font-family: 'Montserrat';
    background-color: #28A55A;
    color: white;
    padding: 14px 16px;
    margin: auto;
    display: block;
    border: none;
    cursor: pointer;
    width: 35%;
    opacity: 0.9;
    border-radius: 50px;
}

.googlebtn {
    background-color: white;
    font-family: 'Montserrat';
    height: 45px;
    width: 42%;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    border-radius: 50px;
    border: 1px solid grey;
    cursor: pointer;
}

.gicon{
    margin-right: 10px;
}
  
.registerbtn:hover {
    opacity: 1;
}

a {
    color: blue;
    text-decoration: none;
    font-family: 'Montserrat';
}

a:hover{
    color: rgb(65, 65, 255);
}
  
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
  }

.textreg{
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    font-family: 'Montserrat';
}

.acc{
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Montserrat';
}
  
@-webkit-keyframes NO {
    from, to {
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        transform: translate3d(10px, 0, 0);
    }
}
  
@keyframes NO {
    from, to {
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        transform: translate3d(10px, 0, 0);
    }
}

@-webkit-keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes move {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}